html, body, #root, #root-child {
  width: 100vw;
  min-height: 100vh !important;
  height: 100vh !important;
  margin: 0;
  padding: 0;
}

#root-child {
  background-color: black;
  display: grid;
  /* grid-template-rows: 1fr 50px; */
  grid-template-columns: 1fr 350px;
}

aside {
  background-color: darkslateblue;
  display: grid;
  grid-template-rows: 1fr 2fr;
  z-index: 0;
}

#sidebar-photo-container {
  background-color: darkolivegreen;
}

#sidebar-menu-container {
  background-color: darkred;
  display: grid;
  grid-row-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 100px;
}

.sidebar-menu-item {
  background-color: purple;
  /* height: 80%; */
  border: 1px solid black;
}

#sidebar-footer {
  background-color: white;
}

main {
  background-color: darkorange;
}
