html, body, #root, #root-child {
  min-width: 100vw !important;
  width: 100vw !important;
  min-height: 100vh !important;
  height: 100vh !important;
  margin: 0;
  padding: 0;
  /* background-color: #66988d; */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #root-child {
    width: 100vw !important;
  }
}

@media only screen and (min-width : 768px) {
  #root-child {
    background-color: black;
    display: grid;
    grid-template-columns: 4fr 1fr;
  }
}

aside {
  min-height: 100vh !important;
  height: 100vh !important;
  background-color: darkslateblue;
  display: grid;
  grid-template-rows: 1fr 2.8fr;
  z-index: 0;
  box-shadow: -30px 0px 30px 5px rgba(0, 0, 0, 0.25);
}

#sidebar-photo-container {
  background-color: rgb(235, 237, 234);
  border-bottom: 0.5px solid #1C7E7B;
}

#sidebar-menu-container {
  background-color: darkred;
  /* height: 100% !important; */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.sidebar-menu-item {
  background-color: rgb(209, 221, 215);
  border-bottom: 0.5px solid #72A298;
  text-align: center;
  /* padding-top: 17% !important; */
}

.sidebar-menu-item:hover {
  background-color: rgb(160, 172, 166);
}

#sidebar-footer {
  background-color: rgb(201, 179, 155);
}

main {
  background-color: darkorange;
}

#sidebar-photo-span h1 {
  font-family: "Arial";
  text-align: center;
  letter-spacing: 5px;
  color: rgb(16, 40, 37);
}

#sidebar-img {
  /* height: 70%; */
  width: 50% !important;
  border: 0.3px solid #499189;
  border-radius: 100%;
  margin-top: 10% !important;
  margin-left: 24.3% !important;
}

#name-and-title {
  margin-top: 600px;
}

.ital {
  font-style: italic;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
}

#sidebar-title {
  font-family: Arial, Helvetica, sans-serif;

}

.sidebar-link {
  margin-top: 2em;
  letter-spacing: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

.sidebar-item-container {
  padding: 5% 2%;
}

.sidebar-icon {

}

#homepage-links {
  margin-top: 400px;
  letter-spacing: 4px;
}
#homepage-links span a:hover {
  color: white;
  font-style: italic;
}

.homepage-link-separator {
  color: black;
}

#about {
  margin-top: 600px;
  text-align: center;
  width: 100%;
  padding-left: 20% !important;
  padding-right: 40% !important;
}

#mission-container {
  padding-left: 20%;
  padding-right: 20%;
}

#mission-statement {
  text-align: center;
  font-family: "Cambria, Cochin, Georgia, Times, Times New Roman, serif";
}

#skills-container {
  height: 100vh !important;
  min-height: 100vh !important;
  width: 80%;
  margin-left: 10%;
}

#skills-grid {
  margin-top: 25%;
  height: 70% !important;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

#skills-title {
  margin: 0 auto;
  padding: 0;
}

.skill-box {
  width: 100%;
  height: 100%;
}

.skill-1 .skill-6 .skill-11 .skill-16 {
  background-color: red;
}

.skill-2 .skill-7 .skill-12 .skill-13 {
  background-color: yellow;
}

.skill-3 .skill-8 .skill-9 .skill-14 {
  background-color: blue;
}

.skill-4 .skill-5  .skill-10 .skill-15 {
  background-color: green;
}


/*--------------------*/
#nav-container {
  height: 8%;
  width: 100% !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgb(235, 237, 234);
  box-shadow: 0px 2px 12px 8px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 1.5fr 2fr 2fr 2fr 2fr;
}

#nav-home {
  /* background-color: red; */
  /* border-right: 1px solid black; */
}

.nav-item {
  /* background-color: blue; */
  text-align: center;
  border-left: 0.25px solid rgb(127, 129, 126);
  /* border-right: 0.25px solid black; */
}

.nav-item:active {
  background-color: yellow;
}

.nav-item-icon {
  width: 100%;
  margin-left: 28%;
  margin-right: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.nav-item-text {
  font-family: Arial;
  font-size: 0.75em;
  letter-spacing: 2px;
}