html, body, #root, #root-child {
  min-width: 100vw !important;
  width: 100vw !important;
  min-height: 100vh !important;
  height: 100vh !important;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width : 320px) and (max-width : 992px) {
  #root-child {
    width: 100vw !important;
  }
}

@media only screen and (min-width : 992px) {
  #root-child {
    background-color: black;
    display: grid;
    grid-template-columns: 4fr 1fr;
  }
}

main {
  background-color: darkorange;
}


.ital {
  font-style: italic;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
}
