#projects-container {
  height: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
  width: 100%;
  /* margin-left: 10vw; */
  z-index: 10;
  color: white;
}

.projects-title {
  margin-top: 2.5em;
  margin-bottom: 1em;
  width: 100%;
  padding: 0;
  text-align: center;
}

#projects-grid {
  width: 100%;
}

@media only screen and (min-width: 420px) {
  #projects-grid {
    margin-left: 15%;  
  }
  
  .single-project-container {
    width: 65%;
  }
}

@media only screen and (max-width: 420px) {
  #projects-grid {
    margin-left: 3%;
  }
  
  .single-project-container {
    width: 90%;
  }
}

/* --------- Single Project --------- */
.single-project-container {
  margin-bottom: 25px;
  padding: 1.5%;
  background: linear-gradient( to bottom right, rgba(200, 200, 200, 0.8), rgba(0, 0, 0, 0.0));
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
}

.project-name {
  margin-top: 1%;
  font-family: Helvetica, sans-serif;
}

.project-description {
  color: black;
}

.project-detail-title {
  margin-bottom: 1px !important;
}

.project-detail-content {
  margin-top: 2px;
}

.link-container {
  margin-left: 10%;
}

.link-container div {
  margin-bottom: 8px;
}

.project-detail-link-title {
  display: inline;
  margin-right: 10px;
}

.project-detail-content-link {
  display: inline;
  font-style: italic;
  color: darkblue;
}

.extended-details-container {
  color: black;
}

.show-details-text {
  margin-bottom: 4px;
  color: white;
}

.show-details-icon {
  margin-bottom: 4px;
}

.expand-project-btn {
  text-align: center;
}

.arrow-icon-container {
  width: 100%;
  color: black;
}